services:
  cards:
    image: "openjdk:17-jdk-slim"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8080"
    networks:
      - app-connector
    depends_on:
      - postgresql

  postgresql:
    image: "bitnami/postgresql:latest"
    build:
      context: .
      dockerfile: database/Dockerfile
    networks:
      - app-connector
    environment:
      - POSTGRESQL_HOST=127.0.0.1
      - POSTGRESQL_USER=postgres
      - POSTGRESQL_PASSWORD=password
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"

  redis:
    image: "redis:latest"
    networks:
      - app-connector
    ports:
      - "6379:6379"
    depends_on:
      - postgresql

networks:
  app-connector:
    driver: bridge